[submodule "third_party/curl"]
	path = third_party/curl
	url = git@github.com:curl/curl.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "third_party/capnproto"]
	path = third_party/capnproto
	url = https://github.com/capnproto/capnproto
